<!-- Panel left -->
<div class="col-md-3">
    <div class="panel panel-default" style="border-color: #189eff;">
        <div class="panel-heading" style="background-color: #189eff;">
            <span class="panel-title">Danh mục</span>
        </div>
        {{> categories this }}
    </div>
    <div class="panel panel-default" style="border-color: #189eff;">
        <div class="panel-heading" style="background-color: #189eff;">
            <span class="panel-title">Từ khóa phổ biến</span>
        </div>
        <div class="list-group">
            <a href="#" class="list-group-item">Iphone 7</a>
            <a href="#" class="list-group-item">Laptop</a>
            <a href="#" class="list-group-item">Tai nghe bluetooth</a>
            <a href="#" class="list-group-item">Oppo</a>
        </div>
    </div>
</div>
<!-- Panel left -->
