<!-- Panel left -->
<div class="col-md-3">
    <div class="panel panel-default" style="border-color: #189eff;">
        <div class="panel-heading" style="background-color: #189eff;">
            <span class="panel-title">Danh mục</span>
        </div>
        {{> categories this }}
    </div>
</div>
<!-- Panel left -->
